.homePage {
  min-height: 100vh !important;
  z-index: 10;
  padding: 1rem;
  backdrop-filter: blur(15px);
  overflow: hidden;
  justify-content: flex-end;
}

.homePage .container {
  width: fit-content;
}

/* new design */
.center {
  position: relative;
  min-height: 80vh;
  width: 100%;
  text-align: center;
  flex-direction: column;
  overflow: hidden;
}

.intro {
  font-family: "sfprodesplay-light";
  position: absolute;
  top: 2rem;
  font-size: var(--sub-hadding-font);
  font-weight: 400;
  text-transform: lowercase;
}

.location {
  width: 100%;
  justify-content: space-around !important;
  font-size: var(--paragraph-font);
}

.authorImg {
  position: absolute;
  bottom: -10%;
  pointer-events: none;
  z-index: 10;
}

.authorImg>img {
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btns {
  position: relative;
  margin-top: 5rem;
  min-height: 5vh;
  gap: 1rem;
  z-index: 11;
  top: 10rem;
}

.pashtion_wrapper1,
.pashtion_wrapper2 {
  position: relative;
}

.pashtion_wrapper1 {
  left: 150%;
  opacity: 0;
}

.pashtion_wrapper2 {
  right: 150%;
  opacity: 0;
}

.pashtion1,
.pashtion2 {
  font-size: var(--Big-font);
  font-family: Media Sans SemiCondensed ultra;
  white-space: nowrap;
  transition: .3s;
  cursor: pointer;
  letter-spacing: 8px;
  z-index: 10;
  -webkit-text-stroke: 1px var(--text);
  pointer-events: none;
}

.pashtion2,
.pashtion1 {
  color: transparent !important;
}

.pashtion_wrapper1:hover .pashtion1 {
  color: var(--text) !important;
}

.color {
  color: var(--text) !important;
}

.color2 {
  color: transparent !important;
}

.pashtion_outline {
  position: absolute;
  font-size: var(--Big-font);
  font-family: Media Sans SemiCondensed ultra;
  white-space: nowrap;
  cursor: pointer;
  letter-spacing: 8px;
  z-index: 11;
}

.pashtion_outline {
  color: transparent;
}

.outline {
  opacity: 1;
  -webkit-text-stroke: 2px rgb(255, 255, 255);
}


/* resopnsive */

/* big screen */
@media screen and (max-width: 1200px) {}

/* tablate screen */
@media screen and (max-width: 1024px) {

  .cursor {
    display: none;
  }

  .center {
    justify-content: flex-start;
    gap: 1rem;
  }

  .pashtion_wrapper1 {
    margin-top: 2rem;
  }

  .pashtion1,
  .pashtion2 {
    line-height: .8;
  }

  .intro {
    position: relative;
  }

  .authorImg {
    height: 85%;
  }

  .outline {
    -webkit-text-stroke: 0px;
  }

  .btns {
    margin-top: 20REM;
  }
}

@media screen and (max-width: 840px) {
  .btns {
    margin-top: 3rem;
  }

  .authorImg {
    position: relative;
    display: flex;
    order: 2;
  }

  .cursordiv {
    display: none;
  }

  .homePage .container {
    flex-direction: column;
  }
}

@media screen and (max-width: 786px) {}

/* mobile devices */

@media screen and (max-width: 428px) {

  .intro {
    display: none;
  }

  .btns {
    position: relative;
    margin-top: 1rem;
    gap: 1rem;
    flex-direction: column;
  }

  .authorImg {
    margin-top: -10rem;
  }

  .pashtion1,
  .pashtion2,
  .pashtion_outline {
    letter-spacing: 4px;
  }
}

@media screen and (max-width: 375px) {

  .pashtion1,
  .pashtion2 {
    -webkit-text-stroke: .5px var(--text);
  }

  .authorImg {
    margin-top: -6rem;
  }
}