.projectPage {
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.projecPage>.container {
    position: relative;
}

.projectLeft {
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translate(0%, -50%);
    flex-direction: column;
    align-items: flex-start !important;
    gap: 1rem;
    padding: 2rem;
    z-index: 11;
    pointer-events: none;
}

.projectLeft p {
    font-size: var(--description-font);
}

.pBtn {
    pointer-events: all;
    gap: 1rem;
    margin-top: 1rem;
}


.project {
    /* background: red; */
    height: 100vh;
    position: relative;
    width: 100%;
    overflow: scroll;
}

.project::-webkit-scrollbar {
    display: none;
}


.pCardContainer {
    position: relative;
    width: 50%;
    float: right;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 5rem 0;
}

.pCardBody {
    position: relative;
    height: 600px;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
}

.pCardBody img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.pCardDetails {
    position: absolute;
    width: 100%;
    min-height: 15%;
    bottom: 0;
    padding: 1rem;
    background: linear-gradient(rgba(27, 27, 27, 0) 10%, rgba(0, 0, 0, .6) 90%);
    overflow: hidden;
}

.pCardDetails>h4 {
    position: absolute;
    top: -10rem;
    font-size: var(--paragraph-font);
    font-family: "sfprodesplay-light";
    color: var(--decoration);
    transition: all .3s;

}

.pCardBody:hover .pCardDetails>h4 {
    top: 0rem;

}

.pCardDetails>h3 {
    font-size: var(--sub-hadding-font);
    font-family:  "Media Sans SemiCondensed Ultra";
    color: var(--caption);
}



/* big screen */
@media screen and (max-width: 1280px) {
    .projectLeft>.hadding {
        font-size: var(--hadding-font);
    }

    .projectLeft>p {
        width: 95%;
    }
}

/* tablate screen */
@media screen and (max-width: 1024px) {
    .projectLeft {
        position: relative;
        width: 100%;
        height: 100vh;
        justify-content: flex-end !important;
        margin-top: 10rem;
        z-index: 10;
    }

    .projectPage .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .pCardContainer {
        width: 100%;
        padding: 1rem;
        top: -10%;
    }

    .project {
        height: 100%;
        padding: 1rem;
    }
    .pBtn{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin:3rem 0 ;
    }
}

/* mobile devices */

@media screen and (max-width: 428px) {
    .pCardContainer {
        width: 100%;
        float: unset;
        grid-template-columns: repeat(1, 100%);
    }
    .projectLeft,.project {
        padding: 1rem;
    }
    .pCardContainer{
        padding: 0rem;
    }
    .projectLeft {
        margin-top: 20rem;
        gap: 0rem;
        height: auto;
    }
}

@media screen and (max-width: 375px) {}